<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Melodify</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	<body>
		<div class="d-flex flex-column align-items-center vw-100 vh-100 " style="background-color: #E7D7C1;">

			<div class="container-fluid d-flex flex-column justify-content-center " style="height: 20%">
				<div class="row">
					<div class="col-sm">
					</div>
					<div class="col-sm d-flex justify-content-center align-items-center">
						<h1> <u>Melodify</u>  </h1>
					</div>

					<div class="col-sm d-flex justify-content-end align-items-center">
						<a [routerLink]="['about']" class="mr-2">	<button  class="btn btn-danger">About</button></a>
					</div>
				</div>
			</div>

			<div class="w-100 d-flex flex-column align-items-center">
				<p>Melodify scrapes a website of your choice and plays a song based on the content. </p>

				<div class="w-100 d-flex justify-content-center align-items-start">
					<div class="w-75 d-flex justify-content-center align-items-center ">
						<div class="input-group mb-3">
							<input type="text" #urlBox class="form-control shadow" placeholder="Enter a Website URL to play" >
							<div class="input-group-append">
								<button class="btn btn-dark shadow" (click)="play(urlBox.value)" type="button">Search</button>
							</div>
						</div>
					</div>
				</div>

	
					<div class="w-100 d-flex justify-content-center" >
						<div class="input-group mb-3 w-50 shadow">
							<select name="instrumentSelect" (change)="instrumentSelect($event)" class="custom-select" id="inputGroupSelect02">
								<option selected>Instrument Selection</option>
								<option value="0">Piano</option>
								<option value="1">Organ</option>
								<option value="2">Acoustic</option>
								<option value="3">EDM</option>

							</select>
						</div>
		
						<div class="d-flex ml-2">
							<div *ngIf="playing">
								<button (click)="playing =! playing; playPauseButton()" class="btn btn-dark shadow mr-2">Pause</button> 
							</div>
							<div *ngIf="!playing">
								<button (click)="playing =! playing; playPauseButton()" class="btn btn-dark shadow ml-2">Play</button>
							</div>
						</div>
					</div>
			</div>
			
			<div class="h-100 w-100 d-flex justify-content-center">
				<div class="border bg-light border-light mt-4 mr-3 shadow"  style="width: 45%; height: 90%; border-radius: 20px 20px 20px 20px">
					<div class="d-flex w-100 h-100 flex-wrap p-2 overflow-auto" id="text">
						<div class="m-2 w-100">
							<h3 > <u>Text</u> </h3>
						</div>
						<div *ngFor="let t of text" id="text{{t[2]}}">
							<div>
								{{t[0]}} &nbsp;
							</div>
						</div>
					</div>
					
				</div>
				<div class="border bg-light border-light mt-4 ml-3 shadow" style="width: 45%; height: 90%; border-radius: 20px 20px 20px 20px ">
					<div class="d-flex w-100 h-100 flex-wrap p-2 overflow-auto">
						<div class="m-2 w-100">
							<h3 ><u>Muscial Notes </u></h3>
						</div>
						<div *ngFor="let note of notesArray; let isLast=last" id="note{{note[2]}}" >
							<div *ngIf="isLast && renderFlag==false">{{setRenderTrue()}}</div>
							<div>
								{{note[0]}} &nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>