<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Melodify</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="d-flex flex-column align-items-center vw-100 vh-100" style="background-color: #E7D7C1;">

      <div class="w-100 d-flex flex-column justify-content-center align-items-center" style="height: 20%;">
					<div class="d-flex justify-content-center align-items-center">
						<h1> <a class="text-decoration-none text-reset " [routerLink]="['']"><u>Melodify</u></a>  </h1>
					</div>
      </div>

		
		<div class="w-75">
		The Melodify is a music generator that retrieves letters from the input website and translates it into pitches. It came out from a random idea, 
		“how would it sound like if the website I am reading can play me a song?” A wikipedia page about Angular might sound like you are in a dungeon,
		your facebook page might sound so out of tune and silly. You have the option to choose different instruments, from piano to edm. Try it out, and
		hear what your favorite website tells you.
		</div>

		<div class="d-flex flex-column align-items-center w-100">
			<h2>The Team</h2>
			<div class="d-flex w-100 justify-content-around align-items-center">
				<div class="d-flex flex-column align-items-center">
					<img  class="images mb-2" src="../../assets/yusra4.jpg"/>
					<h4>Yusra Irfan</h4>
					<p>Missisauga, ON, Canada</p>
					<p>Western University</p>
					<div class="d-flex w-25 justify-content-around">
						<a href="https://github.com/irfanyusra">	<i class="fa fa-github" style="font-size:36px"></i></a>
						<a href="https://www.linkedin.com/in/irfanyusra/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
					</div>
				</div>
				<div class="d-flex flex-column align-items-center">
					<img  class="images mb-2" src="../../assets/judy3.jpg"/>
					<h4>Judy Ham</h4>
					<p>Richmond Hill, ON, Canada</p>
					<p>York University</p>
					<div class="d-flex w-25 justify-content-around">
						<a href="https://github.com/judyyhha">	<i class="fa fa-github" style="font-size:36px"></i></a>
						<a href="https://www.linkedin.com/in/yeonghyeon-ham/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
					</div>
					
				</div>
				<div class="d-flex flex-column align-items-center">
					<img  class="images mb-2" src="../../assets/phil5.jpg"/>
					<h4>Phillip Truong</h4>
					<p>Niagara Falls, ON, Canada</p>
					<p>Western University</p>
					<div class="d-flex w-25 justify-content-around">
						<a href="https://github.com/PhillipTruong">	<i class="fa fa-github" style="font-size:36px"></i></a>
						<a href="https://www.linkedin.com/in/truonghphillip/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
					</div>
				</div>
				<div class="d-flex flex-column align-items-center">
					<img  class="images mb-2" src="../../assets/ged4.jpg"/>
					<h4>Gedion Teshome</h4>
					<p>Addis Ababa, ADD, Ethiopia</p>
					<p>ADD Sci-Tech University</p>
					<div class="d-flex w-25 justify-content-around">
						<a href="https://github.com/GedionT">	<i class="fa fa-github" style="font-size:36px"></i></a>
						<a href="https://www.linkedin.com/in/gedion-teshome-142431146/"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
					</div>
				</div>
			</div>
		</div>


    </div>
	</body>
</html>