/* @font-face {
  font-family: 'Quicksand', sans-serif;
  src: url('./assets//Quicksand/static/Quicksand-Regular.ttf');
}

*{
  font-family: 'Quicksand', sans-serif;
} */

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}